<!DOCTYPE html>
<html>
<head>
<title>INSIDE Ladylynn Sisters</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/main.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<!-- Wrapper -->
            <div id="wrapper">
                <!-- Main -->
                    <div id="main">
                        <div class="inner">
                            <!-- Header -->
                                <header id="header">
                                  <h1>FOODS</h1>
                                  <ul class="icons">
                                        <li><a href="#appetizer" class="glyphicon glyphicon-grain"><span class="label"></span></a></li>
                                        <li><a href="#meal" class="glyphicon glyphicon-cutlery"><span class="label"></span></a></li>
                                        <li><a href="#pasta" class="glyphicon glyphicon-heart"><span class="label"></span></a></li>
                                        <li><a href="#drinks" class="glyphicon glyphicon-glass"><span class="label"></span></a></li>
                                        
                                    </ul>
                                </header>

                            <!-- APPETIZER Section -->
                                <section id="appetizer">  
                                <h2>APPETIZERS</h2>    
                                    <div class="posts">
                                        <article>
                                            <a href="#" class="image"><img src="images/pic01.jpg" alt="" /></a>
                                            <h3>Tuna Salad Over Crackers</h3>
                                            <p> Description: <br> Price: <br></p>
                                            <ul class="actions">
                                                <li><a href="#" class="button">Add</a></li>
                                            </ul>
                                        </article>
                                        <article>
                                            <a href="#" class="image"><img src="images/pic02.jpg" alt="" /></a>
                                            <h3>Deviled Eggs</h3>
                                            <p> Description: <br>Price: <br>
                                            </p>
                                            <ul class="actions">
                                                <li><a href="#" class="button">Add</a></li>
                                            </ul>
                                        </article>
                                        <article>
                                            <a href="#" class="image"><img src="images/pic03.jpg" alt="" /></a>
                                            <h3>Chicken Dynamites</h3>
                                            <p> Description: <br>Price: <br></p>
                                            <ul class="actions">
                                                <li><a href="#" class="button">Add</a></li>
                                            </ul>
                                        </article>
                                        <article>
                                            <a href="#" class="image"><img src="images/pic04.jpg" alt="" /></a>
                                            <h3>Crispy Tilapia Sticks</h3>
                                            <p> Description: <br>Price: <br></p>
                                            <ul class="actions">
                                                <li><a href="#" class="button">Add</a></li>
                                            </ul>
                                        </article>                                      
                                   </div>                            
                                </section>
                            <!-- MEALS Section -->
                                <section id="meal" >  
                                <h2>MEALS</h2>    
                                    <div class="posts">
                                        <article>
                                            <a href="#" class="image"><img src="images/pic01.jpg" alt="" /></a>
                                            <h3>Chicken Tepanaki</h3>
                                            <p> Description: <br> Price: <br></p>
                                            <ul class="actions">
                                                <li><a href="#" class="button">Add</a></li>
                                            </ul>
                                        </article>
                                        <article>
                                            <a href="#" class="image"><img src="images/pic02.jpg" alt="" /></a>
                                            <h3>Fish Fillet Crunch with Aioli Miso Sauce</h3>
                                            <p> Description: <br>Price: <br>
                                            </p>
                                            <ul class="actions">
                                                <li><a href="#" class="button">Add</a></li>
                                            </ul>
                                        </article>
                                        <article>
                                            <a href="#" class="image"><img src="images/pic03.jpg" alt="" /></a>
                                            <h3>Kobe Style Chicken</h3>
                                            <p> Description: <br>Price: <br></p>
                                            <ul class="actions">
                                                <li><a href="#" class="button">Add</a></li>
                                            </ul>
                                        </article>
                                        <article>
                                            <a href="#" class="image"><img src="images/pic04.jpg" alt="" /></a>
                                            <h3>Mixed Seafood and Prawns Tempura</h3>
                                            <p> Description: <br>Price: <br></p>
                                            <ul class="actions">
                                                <li><a href="#" class="button">Add</a></li>
                                            </ul>
                                        </article>                                      
                                   </div>                            
                                </section>
                                <!-- PASTA SECTION -->
                                <section id="pasta">  
                                <h2>PASTA</h2>    

                                    <div class="posts">
                                        <article>

                                            <a href="#" class="image"><img src="images/pic01.jpg" alt="" /></a>
                                            <h3>Creamy Carbonara</h3>
                                            <p> Description: <br> Price: <br></p>
                                            <ul class="actions">
                                                <li><a href="#" class="button">Add</a></li>
                                            </ul>
                                        </article>
                                        <article>
                                            <a href="#" class="image"><img src="images/pic02.jpg" alt="" /></a>
                                            <h3>Bolognese Pasta</h3>
                                            <p> Description: <br>Price: <br>
                                            </p>
                                            <ul class="actions">
                                                <li><a href="#" class="button">Add</a></li>
                                            </ul>
                                        </article>
                                        <article>
                                            <a href="#" class="image"><img src="images/pic03.jpg" alt="" /></a>
                                            <h3>Pesto</h3>
                                            <p> Description: <br>Price: <br></p>
                                            <ul class="actions">
                                                <li><a href="#" class="button">Add</a></li>
                                            </ul>
                                        </article>
                                        <article>
                                            <a href="#" class="image"><img src="images/pic04.jpg" alt="" /></a>
                                            <h3>Spaghetti</h3>
                                            <p> Description: <br>Price: <br></p>
                                            <ul class="actions">
                                                <li><a href="#" class="button">Add</a></li>
                                            </ul>
                                        </article>                                      
                                   </div>
                                   
                                </section>

                                <!-- MEALS Section -->
                                <section id="drinks">  
                                <h2>DRINKS</h2>    
                                    <div class="posts">
                                        <article>
                                            <a href="#" class="image"><img src="images/pic01.jpg" alt="" /></a>
                                            <h3>Iced Tea</h3>
                                            <p> Description: <br> Price: <br></p>
                                            <ul class="actions">
                                                <li><a href="#" class="button">Add</a></li>
                                            </ul>
                                        </article>
                                        <article>
                                            <a href="#" class="image"><img src="images/pic02.jpg" alt="" /></a>
                                            <h3>SoftDrinks</h3>
                                            <p> Description: <br>Price: <br>
                                            </p>
                                            <ul class="actions">
                                                <li><a href="#" class="button">Add</a></li>
                                            </ul>
                                        </article>               
                                   </div>                            
                                </section>
                        </div>
                    </div>

                <!-- Sidebar para po madisappear :) -->
                    <div id="sidebar">
                        <div class="inner">

                            <!-- Search Bar code here-->
                                <section id="search" class="alt">
                                     <ul class="nav navbar-nav navbar-left">
                                     <li>
                                     <button type="button" class="btn btn-default btn-lg">
                                     <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Profile </button>
                                     </li>
                                     </li>
                                     </ul>
                                     <br>
                                </section>

                            <!-- Menu and submenu code here-->
                                <nav id="menu">
                                    <header class="major">
                                        <h2>Menu</h2>
                                    </header>
                                    <ul>
                                        <li><a href="example.html">FOODS<i> Ala carte </i></a></li>
                                        <li><a href="example2.html">FOOD PACKAGES</a></li>
                                        <li><a href="example3.html">EVENTS</a></li>
                                        <li>
                                            <span class="opener">PACKAGES</span>
                                            <ul>
                                                <li><a href="PackageSetA.html">SET A</a></li>
                                                <li><a href="PackageSetB.html">SET B</a></li>
                                                <li><a href="PackageSetC.html">SET C</a></li>
                                                <li><a href="PackageSetD.html">SET D</a></li>
                                            </ul>
                                        </li>
                                       
                                    </ul>
                                </nav>

                            <!-- Section -->
                                <section>
                                    <header class="major">
                                        <h2>LADYLYNN SISTERS </h2>
                                    </header>
                                    <div class="mini-posts">
                                        <article>
                                            <a href="#" class="image"><img src="images/pic07.jpg" alt="" /></a>
                                            <p>We can deliver your celebration memorable!</p>
                                        </article>
                                        <article>
                                            <a href="#" class="image"><img src="images/pic08.jpg" alt="" /></a>
                                            <p>Insert some text here</p>
                                        </article>                                    
                                    </div>
                                </section>

                            <!-- Section -->
                                <section>
                                    <header class="major">
                                        <h2>Get in touch</h2>
                                    </header>
                                    <p>You can contact us on the following:</p>
                                    <ul class="contact">
                                        <li class="fa-envelope-o"><a href="#">gardenmirroreventsplace@gmail.com</a></li>
                                        <li class="fa-phone">(000) 000-0000</li>
                                        <li class="fa-home">Insert address here
                                        </li>
                                    </ul>
                                </section>
                            <!-- Footer -->
                                <footer id="footer">
                                    <p class="copyright">&copy; LadyLynn Sisters. All rights reserved.
                                </footer>
                        </div>
                    </div>
            </div>

        <!-- Scripts -->
            <script src="assets/js/jquery.min.js"></script>
            <script src="assets/js/skel.min.js"></script>
            <script src="assets/js/util.js"></script>
            <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
            <script src="assets/js/main.js"></script>
</body>
</html>