<!DOCTYPE html>
{% load staticfiles %}
{% load bootstrap4 %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% comment %} <link rel="stylesheet" href="{% static 'home/css/main.css' %}"> {% endcomment %}
    <link rel="stylesheet" href="{% static 'bootstrap4/css/bootstrap.min.css' %}">
    <script src="{% static 'popper1/popper.js' %}"></script>
    <script src="{% static 'jquery3.21/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'bootstrap4/js/bootstrap.js' %}"></script>
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    
    
    <title>Ladylynn Sisters</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <!-- The navbar logo -->
            <a class="navbar-brand" href="#">Ladylynn Sisters</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- The navbar items -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#"></span> Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact us</a>
                    </li>
                </ul>
                <ul class="navbar-nav navbar-right">
                    <li class="nav-item active">
                        <a class="nav-link" href="#" data-toggle="modal" data-target="#signup">Sign up</a>
                    </li>
                    {# Some logic on what to display for last item#}
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="">Logout</a>
                        {% comment %} Example of href="{% url 'logout' %}"" {% endcomment %}
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="">Login</a>
                        {% comment %} Example of href="{% url 'basic_app:user_login' %}" {% endcomment %}
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div> 
    </nav>
    
    <!-- other htmls will be inserted here -->
    {% block body_block %}
    {% endblock %}

    {% comment %} Modal Section {% endcomment %}
    <div class="modal fade" id="signup" tabindex="-1" role="dialog" aria-labelledby="signuplabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="signuplabel">Signup Form</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <h2>Sign up here!</h2>
              <form name="signupform" enctype="multipart/form-data" method="POST">
                {% csrf_token %}
                {% bootstrap_form user_form %}
                {% bootstrap_form profile_form %}
                <input class="form-control" type="submit" name="" value="Signup">
              </form>
            </div>
            <div class="modal-footer">
              <div align="center">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                {% comment %} <button type="button" class="btn btn-default">Signup</button> {% endcomment %}
              </div>
            </div>
          </div>
        </div>
      </div>

    <script src="{% static 'home/js/home.js' %}"></script>
</body>
</html>
