{% extends "home/base.html" %}
{% load staticfiles %}

{% block body_block %}
  
  <div class="container">
        <div class="jumbotron">
          <h1>Sign up</h1>
          {% if registered %}
          <h1>Thank you for registering!</h1>
          {% else %}
            <form enctype="multipart/form-data" method="POST">
                {% csrf_token %}
                {% comment %} {% bootstrap_form user_form.as_p %} {% endcomment %}
                {{ user_form.as_p }}
                {% comment %} {% bootstrap_form profile_form.as_p %} {% endcomment %}
                {{ profile_form.as_p }}
                <input type="submit" name="" value="Register">
            </form>
           {% endif %}
        </div>
  </div>

{% endblock %}
