{% extends "home/base.html" %}
{% load staticfiles %}
{% load bootstrap4 %}

<!-- Royce's dummy signup page to test it works -->
{% block body_block %}
  
  <div class="container">
        <div class="jumbotron">
          <h1>Sign up</h1><br>
          {% if registered %}
          <h1>Thank you for registering!</h1>
          {% else %}
            <form enctype="multipart/form-data" method="POST">
                {% csrf_token %}
                {% bootstrap_form user_form %}
                {% bootstrap_form profile_form %}
                <input class="form-control" type="submit" name="" value="Register">
            </form>
           {% endif %}
        </div>
  </div>

{% endblock %}
