<!DOCTYPE html>
{% load staticfiles %}
{% load bootstrap4 %}
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Simple Sidebar - Start Bootstrap Template</title>

    <!-- Bootstrap links and scripts along with required links and scripts -->
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'bootstrap4/css/bootstrap.min.css' %}">
    <script src="{% static 'popper1/popper.js' %}"></script>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    
    {% comment %} Referenced JS Scripts are in the bottom {% endcomment %}
    
    <!-- Custom styles for this template -->
    <link href="{% static 'home/css/simple-sidebar.css' %}" rel="stylesheet">

</head>

<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="{% url 'home:user_home' pk=user.id %}">
                        Hello, {{ user.first_name | title }}!
                    </a>
                </li>
                <li>
                    <img src="{{ MEDIA_URL }}{{ userprofilepic.profile_pic }}" width=150px style="border-radius:50%;">
                    
                <li>
                    <a href="{% url 'home:user_home' pk=user.id %}">Dashboard</a>
                </li>
                <li>
                    <a href="#" class="dropdown-toggle" id="reservationdropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Reservation</a>
                    <div class="dropdown-menu" aria-labelledby="reservationdropdown" style="background-color:black; color:white;">
                        <a class="dropdown-item" href="{% url 'home:make_reservation' pk=user.id %}">Make Reservation</a>
                        <a class="dropdown-item" href="#">Edit Reservation</a>
                        <a class="dropdown-item" href="#">Cancel Reservation</a>
                    </div>
                </li>
                <li>
                    <a href="#">Overview</a>
                </li>
                <li>
                    <a href="#">Events</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
                <li>
                    <a href="{% url 'home:logout' %}">Logout</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                {% comment %} <h1>Simple Sidebar</h1>
                <p>This template has a responsive menu toggling system. The menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will appear/disappear. On small screens, the page content will be pushed off canvas.</p>
                <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>.</p>
                <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">Toggle Menu</a> {% endcomment %}

                {% block body_block %}
                
                {% endblock body_block %}

            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->


    <!-- Bootstrap and JQuery Scripts -->
    <script src="{% static 'home/js/user_home.js' %}"></script>
    <script src="{% static 'jquery3.21/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'bootstrap4/js/bootstrap.js' %}"></script>
</body>

</html>
